<div class="root">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="toolbar-main">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="app-name has-gradient-text">Kanban</span>
        </mat-toolbar-row>
        <mat-toolbar-row class="kanban-toolbar">
            <span>{{board.name}}</span>
            <button mat-icon-button matTooltip="Create new board" class="add-icon">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="board">
        <div class="board-bar">
            <button mat-raised-button color="is-primary" (click)="openColumnDialog()">New Column</button>
        </div>
        <div class="board-wrapper" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="columnDrop($event)">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns" cdkDrag>
                    <div class="column-title">
                        <div class="column-title-left">
                            <mat-chip class="title-chip">
                                {{column.name.toLocaleUpperCase()}}
                            </mat-chip>
                            <mat-chip class="task-count-chip">
                                {{column.tasks.length}}
                            </mat-chip>
                        </div>
                        <button mat-icon-button color="is-primary" (click)="deleteColumn(column.name)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="taskDrop($event)">
                        <button mat-raised-button class="button is-fullwidth new-task-btn"
                            (click)="openNewTaskDialog(column.name)">
                            +
                        </button>
                        <mat-accordion class="task-accordion">
                            <mat-expansion-panel class="task" *ngFor="let task of column.tasks" hideToggle
                                displayMode="default" cdkDrag>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{task.taskName}}
                                    </mat-panel-title>
                                    <button mat-icon-button color="is-primary" (click)="deleteTask(task.taskName)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-expansion-panel-header>
                                <p>{{task.taskDescription}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>